* {
  box-sizing: border-box;
}
html {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}
body {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
}
/* Menu */
.menu {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.container {
  margin: 0 auto;
  padding: 0 8px;
}
.menu__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.menu__logo {
}
.menu-img-href {
}
.menu-img-href:link {
}
.menu-img-href:visited {
}
.menu-img-href:focus {
}
.menu-img-href:hover {
}
.menu-img-href:active {
}

.menu-img {
}
.login-basket {
  display: flex;
}
.menu__login {
  border: 1px solid #e0e0e0;
  padding: 8px 23px;
  text-decoration: none;
  color: #1d1d1d;
  background-color: #fff;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.menu__login:link {
}
.menu__login:visited {
}
.menu__login:focus {
  color: #fff;
  background-color: #1d1d1d;
}
.menu__login:hover {
  color: #fff;
  background-color: #1d1d1d;
}
.menu__login:active {
}
.login-text {
  font-style: normal;
  font-weight: 500;
}

.basket {
  display: none;
}
.basket-img {
}

/* Arrow */
.arrow {
  width: 64px;
  height: 64px;
  /* background-color: #59BD5A; */
  position: fixed;
  z-index: 2;
  right: 16px;
  bottom: 24px;
}
.arrow-container {
  width: 100%;
  height: 100%;
}
.arrow__item {
  height: 100%;
  background-color: #59bd5a;
  display: block;
  margin: 0 0;
  width: 100%;
}
.arrow__item:link {
}
.arrow__item:visited {
}
.arrow__item:focus {
  background-color: #438b44;
}
.arrow__item:hover {
  background-color: #438b44;
}
.arrow__item:active {
}
.arrow-img {
  padding: 19px 24px;
}

/* Pushkin img */
.pushkin {
  margin-top: 72px;
  width: 100%;
  background-image: url(../images/pushkin/main.png);
  background-size: 100%;
  height: 255px;
  background-repeat: no-repeat;
  background-position: center;
}
.pushkin-container {
  width: 100%;
  margin: 0 auto;
}

/* info pushkin */
.info-pushkin {
  background-color: #fff;
  z-index: 1;

  position: absolute;
  top: 203px;
  margin-left: 8px;
  margin-right: 8px;
  width: calc(100% - 16px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.info-pushkin-container {
  width: 100%;
}
.info-pushkin-items {
}
.info-pushkin__title {
  color: #1d1d1d;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}
.info-pushkin-text-container {
  display: flex;
  flex-direction: column;
}
.info-pushin__text1 {
  text-align: center;
  color: #626262;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
}
.info-pushkin__btn {
  margin: 0 auto 24px;
  border-radius: 16px;
  width: 100px;
  height: 32px;
  background-color: #262626;

  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  align-items: center;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.info-pushkin__btn:link {
}
.info-pushkin__btn:visited {
}
.info-pushkin__btn:focus {
  background-color: rgb(116, 116, 116);
  color: #fff;
  cursor: pointer;
}
.info-pushkin__btn:hover {
  background-color: rgb(116, 116, 116);
  color: #fff;
  cursor: pointer;
}
.info-pushkin__btn:active {
}
/*names */
.names {
  display: none;
  margin-top: 32px;
}
.names__items {
}
.names__item {
  text-decoration: none;
  color: #626262;
  margin-right: 40px;
  transition: color 0.1s linear;
}
.names__item:link {
}
.names__item:visited {
}
.names__item:focus {
  color: rgb(233, 200, 55);
}
.names__item:hover {
  color: rgb(233, 200, 55);
}
.names__item:active {
}
.names__item-highlight {
  color: #327430;
}
.names__items::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.2);
  margin-top: 30px;
}
/* snacks */
.snacks {
  margin-top: 112px;
}
.snacks__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  text-align: center;
}
.snacks__title::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #757575;
  width: 50px;
  margin: 12px auto 43px;
}

.dishes {
}
.dishes-container {
}
.dishes-items {
  display: flex;
  flex-direction: column;
}
.dishes-items__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  margin-bottom: 16px;
  transition: background-color 0.1s linear;
}
.dishes-items__item:focus, .dishes-items__item:hover {
  background-color: rgba(116, 116, 116, 0.1);
  cursor: pointer;
}
.dishes-items__item:focus .dishes-items__img, .dishes-items__item:hover .dishes-items__img {
    opacity: 0.9;
    cursor: pointer;
}
.dishes-items__item-more-margin {
  margin-bottom: 40px;
}

.dishes-items__text-container {
}
.dishes-items__text1 {
  color: #1d1d1d;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 58vw;
}
.dishes-items__text2 {
  color: #626262;
  font-weight: normal;
  line-height: 21px;
  margin-top: 4px;
}
.dishes-items__price {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  margin-top: 16px;
}
.dishes-items__price-more-margin {
    margin-top: 41px;
}
.dishes-items__img {
    transition: opacity 0.1s linear;
    /* new */
    height: 100%;
    width: 100%;
}

/* Footer */
.footer {
  background-color: #262626;
  width: 100%;
}
.footer__items {
}
.footer-logo-container {
  width: 100%;
}
.footer__logo {
  margin-top: 56px;
  margin-bottom: 40px;
}

.footer-logo-container::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #979797;
}
.btn-hash-socials-cites {
  display: flex;
  flex-direction: column;
}
.btn-hash-socials-cites::after {
  content: "";
  display: block;
  height: 1px;
  background: #979797;
}
.btn-hash-socials {
  margin-top: 32px;
}

/* btn */

.btn {
  width: 173px;
  height: 40px;
}
.btn-container {
  width: 100%;
  height: 100%;
  background-color: #3b3b3b;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s linear, background-color 0.2s linear;
}
.btn-container:link {
}
.btn-container:visited {
}
.btn-container:focus {
  background-color: #555555;
}
.btn-container:hover {
  background-color: #555555;
}
.btn-container:active {
  box-shadow: none;
}
.btn__items {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  position: relative;
}
.btn__icon1 {
  position: absolute;
  top: 24px;
  transform: translate(0, -50%);
  margin: 0;
}
.btn__text {
  position: absolute;
  font-weight: normal;
  line-height: 15px;
  color: #ffffff;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  left: 48px;
}
.btn__icon2 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  left: 151px;
}
/* Hash */
.hash {
  margin-top: 32px;
  margin-bottom: 16px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.hash::before {
  content: "#";
  color: #49a144;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/* social media */

.social-media {
  margin-bottom: 39px;
}
.social-media-container {
  width: 59px;
}
.social-media__items {
  display: flex;
  flex-direction: row;
}
.social-media__logo {
  margin-right: 12px;
}
.social-media__logo:link {
}
.social-media__logo:visited {
}
.social-media__logo:focus {
}
.social-media__logo:hover {
}
.social-media__logo:active {
}
/* cites items */
.cites {
}
.cites-container {
}
.cites__items {
  display: inline-flex;
  flex-direction: column;
}
.cites-item {
  color: #fff;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 23px;
  text-decoration: none;
}
.cites-item:link {
}
.cites-item:visited {
}
.cites-item:focus {
  color: rgb(128, 128, 128);
}
.cites-item:hover {
  color: rgb(128, 128, 128);
}
.cites-item:active::after {
}
/* .cites-item:link {}
  .cites-item:visited {}
  .cites-item:focus {
    border-bottom: 1px solid;
  }
  .cites-item:hover {
    text-decoration: underline;
  }
  .cites-item:active {} */
/*dowload stores */
.dowload-stores {
  width: 100%;
}
.dowload-stores::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #979797;
}
.dowload-stores-container {
  width: 100%;
  padding: 24px 0;
}
.dowload-stores__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-store {
}
.google-play {
}
.app-store-link {
  text-decoration: none;
}
.app-store-link:link {
}
.app-store-link:visited {
}
.app-store-link:focus {
}
.app-store-link:hover {
}
.app-store-link:active {
}

.google-play-link {
  text-decoration: none;
}
.google-play-link:link {
}
.google-play-link:visited {
}
.google-play-link:focus {
}
.google-play-link:hover {
}
.google-play-link:active {
}

/* others */
.others {
  padding-top: 40px;
  padding-bottom: 40px;
}
.others-container {
}
.others__items {
  display: flex;
  flex-direction: column;
}
.others__text {
  color: #ffffff;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 24px;
}
.other__text-link {
  text-decoration: none;
  display: block;
}
.other__text-link:link {
}
.other__text-link:visited {
}
.other__text-link:focus {
  color: rgb(128, 128, 128);
}
.other__text-link:hover {
  color: rgb(128, 128, 128);
}
.other__text-link:active {
}

/* media-quries */
@media screen and (min-width: 768px) {
  /* menu */
  .basket {
    display: block;
    margin-left: 27px;
    margin-right: 18px;
  }
  .login-basket {
    align-items: center;
  }
  /*pushkin */
  .pushkin {
    height: 364px;
    background-position: center 70%;
  }
  /* info-pushkin */
  .info-pushkin {
    top: 152px;
    width: 432px;
  }
  /* names */
  .names {
    display: block;
  }
  /* snacks */
  .snacks {
    margin-top: 56px;
  }
  .snacks__title {
    text-align: left;
  }
  .snacks__title::after {
    display: none;
  }
  .dishes-items__item {
    border: 1px solid rgba(151, 151, 151, 0.2);;
    height: 160px;
  }
  .dishes-items__text1 {
      margin-top: 16px;
    margin-left: 24px;
    margin-right: 16px;
  }
  .dishes-items__text2 {
    margin-left: 24px;
  }
  .dishes-items__price {
    margin-left: 24px;
    margin-top: 58px;
  }
  .dishes-items__price-more-margin {
      margin-top: 83px;
  }
  .dishes-items__img {
      width: 200px;
  }
  /* footer */
  .btn-hash-socials-cites {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .cites__items {
    display: grid;
    grid-template-areas:
      "item1 item4"
      "item2 item5"
      "item3 item6"
      ". item7";
  }
  .cites-item1 {
    grid-area: item1;
  }
  .cites-item2 {
    grid-area: item2;
  }
  .cites-item3 {
    grid-area: item3;
  }
  .cites-item4 {
    grid-area: item4;
  }
  .cites-item5 {
    grid-area: item5;
  }
  .cites-item6 {
    grid-area: item6;
  }
  .cites-item7 {
    grid-area: item7;
  }

  .cites-item {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .btn-hash-socials-cites::after {
    grid-column: 1 / 4;
  }

  .others__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .others__text {
    margin: 0;
  }
}

@media screen and (min-width: 1124px) {
  .container {
    padding: 0 81px;
  }
  /* pushkin */
  .pushkin {
      background-position: center 50%;
  }
  .info-pushkin {
      margin-left: 81px;
      width: 389px;
  }
  /* names */
  .names__items::after {
      display: none;
  }
  .names::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(117, 117, 117, 0.2);
    margin-top: 30px;
  }
  /* snacks */
  .dishes-items {
      display: grid;
      grid-template-columns: 49.3% 49.3%;
      grid-gap: 16px;
     /*  display: flex;
      flex-direction: row; */
      /* flex-wrap: wrap;
      justify-content: center;
      width: 100%; */
  }
  .dishes-items__item {
      margin-bottom: 49px;
  }
  .dishes-items__text-container {
      max-width: 50%;
  }
}
